<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>fourth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="home">
    <ion-card id="myCard" color="card">
      <ion-card-header>
        Animation
      </ion-card-header>
      <ion-card-content>
        Always remember that you are absolutely unique. Just like everyone else.
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="animateCard()" color="danger">
      Move
    </ion-button>
  </ion-content>
  
</ion-content>
