<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>third</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   	  <ion-card>
       <ion-card-content>Card 1</ion-card-content>
      </ion-card>
      
      <ion-card>
       <ion-card-content>Card 2</ion-card-content>
      </ion-card>
      
      <ion-card>
       <ion-card-content>Card 3</ion-card-content>
      </ion-card>
      
      <ion-button (click)="play()">Play</ion-button>
      <ion-button (click)="pause()">Pause</ion-button>
      <ion-button (click)="stop()">Stop</ion-button>
    
</ion-content>
